body {
  background-color: rgb(199, 242, 245);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  #currentDay{
    font-weight: bold;
    color:#f40
  }
  .input{
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    color:#000000;
    border: none;
    resize: none;
    border-left: 1px solid black;
    padding: 10px;
  }

  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: #032339;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }

  .time-block{
    background-color:#ffffff;
    font-size: 20px;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid  rgb(199, 242, 245);
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color:#032339;
  }
  
  .present {
    background-color: #ff6961;
    color: #032339;
  }
  
  .future {
    background-color: #77dd77;
    color:#032339;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  